.topDiv {
  height: 715px;
  background-color: var(--fb-bg-color);
  .itemSection {
    max-width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 175px 0px 0px 0px;
    gap: 50px;

    .leftItem {
      .leftItems {
        .logoSection {
          img {
            width: 300px;
            transform: translate(-33px, 10px);
          }
        }
        .textSection {
          h2 {
            font-size: 33px;
            font-family: SFProDisplayR;
            line-height: 32px;
            font-weight: 500;
          }
        }
      }
    }

    .rightItem {
      .rightItems {
        border: 1px solid red;
        box-shadow: var(--fd-shadow-color);
        border-radius: 10px;
        padding: 25px;
        display: grid;
        width: 350px;
        .fromSection {
          form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input {
              padding: 15px;
              border-radius: 6px;
              border: 1px solid red;
              color: black;
            }
            button {
              @extend input;
              background-color: var(--fb-Primary-color);
              color: #fff;
              font-size: 20px;
              padding: 10px 0px;
            }
          }
        }
        .forgetPass {
          text-align: center;
          margin: 12px 0px;

          a {
            color: var(--fb-Primary-color);
            font-family: SFProDisplayR;
            font-size: 16px;
          }
        }
        .hrTagg {
          margin: 20px 0px;
          hr {
            height: 1px;
          }
        }
        .createAccountBtn {
          text-align: center;

          button {
            background-color: var(--fb-Secondary-color);
            color: #fff;
            font-size: 20px;
            padding: 10px 10px;
            border-radius: 8px;
            border: 1px solid red;
          }
        }
       
      }

      .createPages {
        text-align: center;
        margin: 25px auto;

        h4 {
          font-size: 14px;
          font-family: SFProDisplayR;
        

          a{
           color: red;
          }
        }
      }
    }
  }
}
